# Problem Statement
In the lending industry, investors provide loans to borrowers in exchange for the promise of repayment with interest. If the borrower repays the loan, then the lender profits from the interest. However, if the borrower is unable to repay the loan, then the lender loses money. Therefore, lenders face the problem of predicting the risk of a borrower being unable to repay a loan. Your task is to predict whether a person should be given the loan or not using the publicly available 
<br/>
Link to the dataset:  https://www.kaggle.com/wordsforthewise/lending-club

In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split

# Data preprocessing

## Read 1st Dataset

In [2]:
dataset1_acc = pd.read_csv('accepted_2007_to_2018Q4.csv')

C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
dataset1_acc.shape

(2260701, 151)

In [4]:
dataset1_acc.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
columns1 = dataset1_acc.columns.tolist()
columns1

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [6]:
dataset1_acc['loan_status'].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default', nan,
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [7]:
d1_accepted = dataset1_acc[['loan_amnt', 'issue_d', 'title', 'zip_code', 'addr_state', 'emp_length', 'policy_code', 'dti', 'fico_range_low', 'fico_range_high', 'loan_status']]
d1_accepted.head()

,loan_amnt,issue_d,title,zip_code,addr_state,emp_length,policy_code,dti,fico_range_low,fico_range_high,loan_status
0,3600.0,Dec-2015,Debt consolidation,190xx,PA,10+ years,1.0,5.91,675.0,679.0,Fully Paid
1,24700.0,Dec-2015,Business,577xx,SD,10+ years,1.0,16.06,715.0,719.0,Fully Paid
2,20000.0,Dec-2015,NaN,605xx,IL,10+ years,1.0,10.78,695.0,699.0,Fully Paid
3,35000.0,Dec-2015,Debt consolidation,076xx,NJ,10+ years,1.0,17.06,785.0,789.0,Current
4,10400.0,Dec-2015,Major purchase,174xx,PA,3 years,1.0,25.37,695.0,699.0,Fully Paid

In [8]:
d1_accepted['risk_score'] = (d1_accepted['fico_range_low'] + d1_accepted['fico_range_high'])/2
d1_accepted.head()

<ipython-input-8-8763e349e9ab>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1_accepted['risk_score'] = (d1_accepted['fico_range_low'] + d1_accepted['fico_range_high'])/2

,loan_amnt,issue_d,title,zip_code,addr_state,emp_length,policy_code,dti,fico_range_low,fico_range_high,loan_status,risk_score
0,3600.0,Dec-2015,Debt consolidation,190xx,PA,10+ years,1.0,5.91,675.0,679.0,Fully Paid,677.0
1,24700.0,Dec-2015,Business,577xx,SD,10+ years,1.0,16.06,715.0,719.0,Fully Paid,717.0
2,20000.0,Dec-2015,NaN,605xx,IL,10+ years,1.0,10.78,695.0,699.0,Fully Paid,697.0
3,35000.0,Dec-2015,Debt consolidation,076xx,NJ,10+ years,1.0,17.06,785.0,789.0,Current,787.0
4,10400.0,Dec-2015,Major purchase,174xx,PA,3 years,1.0,25.37,695.0,699.0,Fully Paid,697.0

In [9]:
d1_accepted.drop(['fico_range_low', 'fico_range_high'], axis=1, inplace=True)
d1_accepted.head()

C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,loan_amnt,issue_d,title,zip_code,addr_state,emp_length,policy_code,dti,loan_status,risk_score
0,3600.0,Dec-2015,Debt consolidation,190xx,PA,10+ years,1.0,5.91,Fully Paid,677.0
1,24700.0,Dec-2015,Business,577xx,SD,10+ years,1.0,16.06,Fully Paid,717.0
2,20000.0,Dec-2015,NaN,605xx,IL,10+ years,1.0,10.78,Fully Paid,697.0
3,35000.0,Dec-2015,Debt consolidation,076xx,NJ,10+ years,1.0,17.06,Current,787.0
4,10400.0,Dec-2015,Major purchase,174xx,PA,3 years,1.0,25.37,Fully Paid,697.0

In [10]:
d1_accepted.isnull().sum()

loan_amnt          33
issue_d            33
title           23358
zip_code           34
addr_state         33
emp_length     146940
policy_code        33
dti              1744
loan_status        33
risk_score         33
dtype: int64

In [11]:
d1_accepted['emp_length'].fillna((0), inplace=True)

C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [12]:
d1_accepted.dropna(inplace=True)

<ipython-input-12-d6331faa3eb1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1_accepted.dropna(inplace=True)

In [13]:
patrn = 'Charged Off'

In [14]:
Loan_Status=[]
for val in d1_accepted['loan_status']:
    if patrn in val:
        Loan_Status.append('N')
    else:
        Loan_Status.append('Y')

In [15]:
d1_accepted.drop(['loan_status'], axis=1, inplace=True)

C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
d1_accepted['loan_status'] = Loan_Status

<ipython-input-16-00b7b0341caa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1_accepted['loan_status'] = Loan_Status

In [17]:
d1_accepted

,loan_amnt,issue_d,title,zip_code,addr_state,emp_length,policy_code,dti,risk_score,loan_status
0,3600.0,Dec-2015,Debt consolidation,190xx,PA,10+ years,1.0,5.91,677.0,Y
1,24700.0,Dec-2015,Business,577xx,SD,10+ years,1.0,16.06,717.0,Y
3,35000.0,Dec-2015,Debt consolidation,076xx,NJ,10+ years,1.0,17.06,787.0,Y
4,10400.0,Dec-2015,Major purchase,174xx,PA,3 years,1.0,25.37,697.0,Y
5,11950.0,Dec-2015,Debt consolidation,300xx,GA,4 years,1.0,10.20,692.0,Y
...,...,...,...,...,...,...,...,...,...,...
2260692,16000.0,Oct-2016,Medical expenses,284xx,NC,10+ years,1.0,12.25,667.0,Y
2260693,24000.0,Oct-2016,Credit card refinancing,967xx,HI,4 years,1.0,10.98,727.0,Y
2260694,24000.0,Oct-2016,Home improvement,356xx,AL,7 years,1.0,19.61,667.0,Y
2260695,24000.0,Oct-2016,Debt consolidation,840xx,UT,10+ years,1.0,34.94,697.0,Y
2260697,24000.0,Oct-2016,Debt consolidation,334xx,FL,6 years,1.0,18.30,662.0,N

In [21]:
d1_accepted = d1_accepted.sample(frac =.5)

In [22]:
d1_accepted

,loan_amnt,issue_d,title,zip_code,addr_state,emp_length,policy_code,dti,risk_score,loan_status
1211762,16775.0,Aug-2014,Debt consolidation,473xx,IN,7 years,1.0,13.94,692.0,Y
1487372,20000.0,Jun-2018,Credit card refinancing,972xx,OR,8 years,1.0,12.06,682.0,Y
1111707,28000.0,Jan-2016,Credit card refinancing,450xx,OH,10+ years,1.0,26.17,682.0,N
213395,10950.0,Jul-2015,Debt consolidation,928xx,CA,8 years,1.0,21.08,662.0,Y
1633375,7000.0,Jan-2011,Allison's project,232xx,VA,4 years,1.0,7.26,762.0,Y
...,...,...,...,...,...,...,...,...,...,...
1715588,8000.0,Feb-2017,Major purchase,453xx,OH,5 years,1.0,26.52,782.0,N
1866482,13000.0,Mar-2013,My debt consolidation,432xx,OH,2 years,1.0,9.38,692.0,Y
1731105,12000.0,Jan-2017,Credit card refinancing,604xx,IL,8 years,1.0,25.12,667.0,Y
1563346,6025.0,May-2018,Other,018xx,MA,2 years,1.0,14.03,672.0,Y
887208,6250.0,Jun-2017,Debt consolidation,212xx,MD,0,1.0,8.74,662.0,Y

## Read 2nd Dataset

In [23]:
dataset2_rej = pd.read_csv('rejected_2007_to_2018Q4.csv')

In [24]:
dataset2_rej.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [25]:
dataset2_rej.shape

(27648741, 9)

In [26]:
columns2 = dataset2_rej.columns.tolist()
columns2

['Amount Requested',
 'Application Date',
 'Loan Title',
 'Risk_Score',
 'Debt-To-Income Ratio',
 'Zip Code',
 'State',
 'Employment Length',
 'Policy Code']

In [27]:
col_names = {'Amount Requested':'loan_amnt','Application Date':'issue_d', 'Loan Title':'title', 'Zip Code':'zip_code', 'State':'addr_state', 'Employment Length':'emp_length', 'Policy Code':'policy_code', 'Debt-To-Income Ratio':'dti' ,'Risk_Score':'risk_score'}

In [28]:
d2_rejected = dataset2_rej.rename(columns=col_names, inplace=False)
d2_rejected.head()

,loan_amnt,issue_d,title,risk_score,dti,zip_code,addr_state,emp_length,policy_code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [29]:
d2_rejected['dti']=d2_rejected['dti'].apply(lambda dti:dti[:-1])

In [30]:
d2_rejected.isnull().sum()

loan_amnt             0
issue_d               0
title              1303
risk_score     18497630
dti                   0
zip_code            293
addr_state           22
emp_length       951355
policy_code         918
dtype: int64

In [31]:
d2_rejected['risk_score'].fillna((d2_rejected['risk_score'].mean()), inplace=True)

In [32]:
d2_rejected['emp_length'].fillna((0), inplace=True)

In [33]:
d2_rejected.isnull().sum()

loan_amnt         0
issue_d           0
title          1303
risk_score        0
dti               0
zip_code        293
addr_state       22
emp_length        0
policy_code     918
dtype: int64

In [34]:
d2_rejected.dropna(inplace=True)

In [35]:
d2_rejected['loan_status'] = 'N'

In [36]:
d2_rejected.shape

(27646227, 10)

In [37]:
d2_rejected = d2_rejected.sample(frac = 0.05)

In [38]:
d2_rejected

,loan_amnt,issue_d,title,risk_score,dti,zip_code,addr_state,emp_length,policy_code,loan_status
22308526,30000.0,2015-04-06,debt_consolidation,628.17209,31.17,103xx,NY,< 1 year,0.0,N
5727821,2000.0,2018-08-17,Moving and relocation,628.17209,13.28,302xx,GA,< 1 year,0.0,N
23188969,10000.0,2015-07-28,other,628.17209,27,408xx,KY,< 1 year,0.0,N
20699641,5000.0,2017-11-14,Home buying,684.00000,12,018xx,MA,< 1 year,0.0,N
27521677,10000.0,2016-12-21,Debt consolidation,552.00000,71.41,618xx,IL,< 1 year,0.0,N
...,...,...,...,...,...,...,...,...,...,...
14387031,3000.0,2016-03-13,car,628.17209,-1,275xx,NC,< 1 year,0.0,N
10524923,10000.0,2018-02-09,Debt consolidation,628.17209,28.64,950xx,CA,< 1 year,0.0,N
21438591,8000.0,2017-12-15,Other,744.00000,3.38,282xx,NC,< 1 year,0.0,N
3583573,18000.0,2017-02-06,Debt consolidation,613.00000,64.96,012xx,MA,< 1 year,0.0,N
8288488,30000.0,2014-05-15,debt_consolidation,676.00000,25.68,559xx,MN,< 1 year,0.0,N

## Data Combining

In [39]:
df_combined = pd.concat([d1_accepted, d2_rejected], axis=0)

In [40]:
df_combined.drop(['zip_code'],axis=1,inplace=True)
df_combined.drop(['title'],axis=1,inplace=True)
df_combined.drop(['issue_d'],axis=1,inplace=True)

In [41]:
df_combined.head()

,loan_amnt,addr_state,emp_length,policy_code,dti,risk_score,loan_status
1211762,16775.0,IN,7 years,1.0,13.94,692.0,Y
1487372,20000.0,OR,8 years,1.0,12.06,682.0,Y
1111707,28000.0,OH,10+ years,1.0,26.17,682.0,N
213395,10950.0,CA,8 years,1.0,21.08,662.0,Y
1633375,7000.0,VA,4 years,1.0,7.26,762.0,Y

In [42]:
df_combined.shape

(2500129, 7)

In [43]:
df_combined.to_csv("combined_dataset.csv", index=False)

## Loading the combined dataset file

In [4]:
df = pd.read_csv('combined_dataset.csv')

In [5]:
df = df.sample(frac=1).reset_index(drop=True)

In [6]:
df.head()

   loan_amnt addr_state emp_length  policy_code    dti  risk_score loan_status
0    20000.0         AR    5 years          1.0  20.06   722.00000           Y
1     5000.0         NJ  10+ years          0.0  28.80   628.17209           N
2    26600.0         WA    4 years          1.0   1.73   767.00000           Y
3     5000.0         CA   < 1 year          0.0  15.55   654.00000           N
4     1000.0         TX     1 year          0.0  10.58   572.00000           N

## Data formatting and preprocessing

In [7]:
df['emp_length'].unique()

array(['5 years', '10+ years', '4 years', '< 1 year', '1 year', '0',
       '7 years', '9 years', '3 years', '2 years', '6 years', '8 years'],
      dtype=object)

In [8]:
mapp = {'0':0,
    '< 1 year':0,
                      '1 year':1,
                     '2 years':2,
                     '3 years':3,
                     '4 years':4,
                     '5 years':5,
                     '6 years':6,
                     '7 years':7,
                     '8 years':8,
                     '9 years':9,
                     '10+ years':10}
df['emp_length']=df['emp_length'].map(mapp)
df.head()

,loan_amnt,addr_state,emp_length,policy_code,dti,risk_score,loan_status
0,20000.0,AR,5,1.0,20.06,722.00000,Y
1,5000.0,NJ,10,0.0,28.80,628.17209,N
2,26600.0,WA,4,1.0,1.73,767.00000,Y
3,5000.0,CA,0,0.0,15.55,654.00000,N
4,1000.0,TX,1,0.0,10.58,572.00000,N

In [9]:
from sklearn.preprocessing import LabelEncoder
label_enc= LabelEncoder()

In [10]:
df['addr_state']=label_enc.fit_transform(df['addr_state'].astype(str))
df['addr_state']

0           2
1          31
2          47
3           4
4          43
           ..
2500124    37
2500125    38
2500126     1
2500127     4
2500128    24
Name: addr_state, Length: 2500129, dtype: int32

In [11]:
df.head()

,loan_amnt,addr_state,emp_length,policy_code,dti,risk_score,loan_status
0,20000.0,2,5,1.0,20.06,722.00000,Y
1,5000.0,31,10,0.0,28.80,628.17209,N
2,26600.0,47,4,1.0,1.73,767.00000,Y
3,5000.0,4,0,0.0,15.55,654.00000,N
4,1000.0,43,1,0.0,10.58,572.00000,N

In [12]:
labelencoder=LabelEncoder()
df['loan_status']=labelencoder.fit_transform(df['loan_status'])

In [13]:
df.head()

,loan_amnt,addr_state,emp_length,policy_code,dti,risk_score,loan_status
0,20000.0,2,5,1.0,20.06,722.00000,1
1,5000.0,31,10,0.0,28.80,628.17209,0
2,26600.0,47,4,1.0,1.73,767.00000,1
3,5000.0,4,0,0.0,15.55,654.00000,0
4,1000.0,43,1,0.0,10.58,572.00000,0

In [14]:
df.isnull().sum()

loan_amnt      0
addr_state     0
emp_length     0
policy_code    0
dti            0
risk_score     0
loan_status    0
dtype: int64

In [15]:
y = df['loan_status']
x = df.drop(['loan_status'],axis=1)

# Splitting data into training and testing set

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=1/4,random_state=0)

In [17]:
x.isnull().sum()

loan_amnt      0
addr_state     0
emp_length     0
policy_code    0
dti            0
risk_score     0
dtype: int64

# Model Training and testing

In [18]:
from sklearn.tree import DecisionTreeClassifier
clf_gini = DecisionTreeClassifier(criterion = "gini",
            random_state = 100, min_samples_leaf=5)
clf_gini.fit(x_train, y_train)

DecisionTreeClassifier(min_samples_leaf=5, random_state=100)

In [19]:
clf_gini.score(x_test,y_test)

0.9215033446234039

In [20]:
from sklearn.ensemble import RandomForestClassifier
dfor = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 0)
dfor.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [21]:
dfor.score(x_test,y_test)

0.9431742004022188